{
"swagger": "2.0",
  "info": {
    "description": "for all following APIs, it should add 2 parameters at API request header before calling API: X_PROXY_SECRET_TOKEN and AUTHORIZATION, all APIs retrieve current accountDID and UserDID from AUTHORIZATION",
    "version": "1.0.0",
    "title": "job branding API"
  },
  "host": "api.careerbuilder.com",
  "basePath": "/corporate/jobposterapi/jobbrandings",
  "tags": [
    {
      "name": "job branding API",
      "description": "job branding API"
    }
  ],
  "schemes": [
    "http"
  ],
  "paths": {
    "/jobbrandings": {
      "post": {
        "tags": [
          "job branding API"
        ],
        "summary": "add new job branding",
        "description": "",
        "operationId": "postNewJobBranding",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [         
          {
            "in": "header",
            "name": "Content-Type",
            "default": "application/json",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "description": "add new job branding",
            "required": true,
            "schema": {
              "$ref": "#/definitions/JobBrandingReqObj"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/EditJobBrandingResponse"
            }
          },
          "400": {
            "description": "Bad Request: Name is required"
         },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/jobbrandings/edit": {      
      "post": {
        "tags": [
          "job branding API"
        ],
        "summary": "edit job branding by id",
        "description": "",
        "operationId": "editJobBranding",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [          
          {
            "in": "header",
            "name": "Content-Type",
            "default": "application/json",
            "required": true,
            "type": "string"
          },         
          {
            "in": "body",
            "name": "body",
            "description": "edit job branding detail",
            "required": true,
            "schema": {
              "$ref": "#/definitions/JobBrandingEditReqObj"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/EditJobBrandingResponse"
            }
          },
          "400": {
            "description": "Bad Request: Name is required"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    }
  },
  "definitions": {
    "JobBrandingEditResponse": {
      "type": "object",      
      "properties": {        
        "Id": {
          "type": "string",
          "example":"JB3P4JN60NPQRQSLCVMT"
        }
      }
    },
    "JobBrandingReqObj": {
      "type": "object",      
      "properties": {        
        "Name": {
          "type": "string",
          "example": "Consortium Pte Ltd"
        },
        "Type": {
          "type": "string",
          "example": "Premium"
        },       
        "Tracking": {
          "type": "string",
          "example": "<IMG SRC='https://pubads.g.doubleclick.net/activity;xsp=4326694;ord=1?' BORDER=0 WIDTH=1 HEIGHT=1 ALT='Advertisement'/>"
        },
        "CompanyDescription": {
          "type": "string",
          "example": "this firm has specialized in feasibility studies for the design of the industrial parks as well as industrial land utilization. AC Consortium Pte Ltd has been actively involved in the comprehensive design of numerous industrial buildings catering to many different trades in the manufacturing and fabrication sector."
        },
        "Media": {
          "type": "object",
          "properties": {
            "Header": {
              "type": "string",
              "example": "http://img.icbdr.com/MediaManagement/T3/MWM1686LRCMFY24JRT3.jpg"
            },           
            "TabletBanner": {
              "type": "string",
              "example": "http://img.icbdr.com/MediaManagement/W5/MWR45K6Z3FVNVMCQMW5.jpg"
            },
            "MobileLogo": {
              "type": "string",
              "example": "http://img.icbdr.com/MediaManagement/H9/MXK36Z6XLWFD1R28NH9.jpg"
            },
            "Footer": {
              "type": "string",
              "example": "http://img.icbdr.com/MediaManagement/0S/MWD5VH62PNDFGGX4Z0S.jpg"
            },
            "Video": {
              "type": "string",
              "example": "5371882024001"
            },
            "IsMultiVideo": {
              "type": "string",
              "example": "True"
            }
          }
        },
        "Widgets" :{
          "type": "object",
          "properties": {
            "Facebook": {
              "type": "string",
              "example": "noodlesandcompany"
            },
            "LinkedIn": {
              "type": "string",
              "example": "company/medzed-llc"
            },
            "Twitter": {
              "type": "string",
              "example": "BauerGroup"
            }
          }
        }
      }      
    },
    "JobBrandingEditReqObj": {
      "type": "object",      
      "properties": {    
        "Id": {
          "type": "string",
          "example": "JB003915W0SFVW32RXQ4"
        },    
        "Name": {
          "type": "string",
          "example": "Consortium Pte Ltd"
        },
        "Type": {
          "type": "string",
          "example": "Premium"
        },   
        "Status": {
          "type": "string",
          "example": "Active"
        },     
        "Tracking": {
          "type": "string",
          "example": "<IMG SRC='https://pubads.g.doubleclick.net/activity;xsp=4326694;ord=1?' BORDER=0 WIDTH=1 HEIGHT=1 ALT='Advertisement'/>"
        },
        "CompanyDescription": {
          "type": "string",
          "example": "this firm has specialized in feasibility studies for the design of the industrial parks as well as industrial land utilization. AC Consortium Pte Ltd has been actively involved in the comprehensive design of numerous industrial buildings catering to many different trades in the manufacturing and fabrication sector."
        },
        "Media": {
          "type": "object",
          "properties": {
            "Header": {
              "type": "string",
              "example": "http://img.icbdr.com/MediaManagement/T3/MWM1686LRCMFY24JRT3.jpg"
            },           
            "TabletBanner": {
              "type": "string",
              "example": "http://img.icbdr.com/MediaManagement/W5/MWR45K6Z3FVNVMCQMW5.jpg"
            },
            "MobileLogo": {
              "type": "string",
              "example": "http://img.icbdr.com/MediaManagement/H9/MXK36Z6XLWFD1R28NH9.jpg"
            },
            "Footer": {
              "type": "string",
              "example": "http://img.icbdr.com/MediaManagement/0S/MWD5VH62PNDFGGX4Z0S.jpg"
            },
            "Video": {
              "type": "string",
              "example": "5371882024001"
            },
            "IsMultiVideo": {
              "type": "string",
              "example": "True"
            }
          }
        },
        "Widgets" :{
          "type": "object",
          "properties": {
            "Facebook": {
              "type": "string",
              "example": "noodlesandcompany"
            },
            "LinkedIn": {
              "type": "string",
              "example": "company/medzed-llc"
            },
            "Twitter": {
              "type": "string",
              "example": "BauerGroup"
            }
          }
        }
      }      
    },
    "EditJobBrandingResponse": {
      "type": "object",
      "properties": {
        "Errors": {
          "type": "array",
          "items": {
            "type": "string",
            "example": ""
          }
        },
        "Results": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/JobBrandingEditResponse"
          }
        }
      }
    }
  }
}