{
"swagger": "2.0",
  "info": {
    "description": "for all following APIs, it should add 2 parameters at API request header before calling API: X_PROXY_SECRET_TOKEN and AUTHORIZATION, all APIs retrieve current accountDID and UserDID from AUTHORIZATION",
    "version": "1.0.0",
    "title": "job Branding API"
  },
  "host": "api.careerbuilder.com",
  "basePath": "/corporate/jobposterapi/jobBranding",
  "tags": [
    {
      "name": "job Branding API",
      "description": "job Branding API"
    }
  ],
  "schemes": [
    "http"
  ],
  "paths": {
    "/jobBranding": {
      "post": {
        "tags": [
          "job Branding API"
        ],
        "summary": "add new job Branding",
        "description": "",
        "operationId": "postNewJobBranding",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [         
          {
            "in": "header",
            "name": "Content-Type",
            "default": "application/json",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "description": "post new job branding",
            "required": true,
            "schema": {
              "$ref": "#/definitions/jobBrandingPostRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/jobBrandingPostResponse"
            }
          },
          "400": {
            "description": "Bad Request: job branding name is required"
         },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/jobBranding/getall": {
      "get": {
        "tags": [
          "job Branding API"
        ],
        "summary": "Get all job brandings",
        "description": "",
        "operationId": "GetAllJobBrandings",        
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/getAllJobBrandingsResponse"
            }
          },
          "400": {
            "description": "Bad Request: Fail to get job branding data"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },   
    "/jobBranding/{jobBrandingDID}": {
      "get": {
        "tags": [
          "job Branding API"
        ],
        "summary": "Get job branding by jobBrandingDID",
        "description": "",
        "operationId": "GetJobBranding",
        "parameters": [          
          {
            "in": "path",
            "name": "jobBrandingDID", 
            "default": "",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/getOneJobBrandingResponse"
            }
          },
          "400": {
            "description": "Bad Request: Fail to get job branding data"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "put": {
        "tags": [
          "job Branding API"
        ],
        "summary": "update job Branding by jobBrandingDID",
        "description": "",
        "operationId": "updateJobBranding",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [          
          {
            "in": "header",
            "name": "Content-Type",
            "default": "application/json",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "jobBrandingDID", 
            "default": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "description": "update job branding detail",
            "required": true,
            "schema": {
              "$ref": "#/definitions/jobBrandingPostRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/getOneJobBrandingResponse"
            }
          },
          "400": {
            "description": "Bad Request: jobBrandingDID is required, name is required"
         },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "delete": {
        "tags": [
          "job Branding API"
        ],
        "summary": "delete job branding by jobBrandingDID",
        "description": "",
        "operationId": "deleteJobBranding",
        "parameters": [          
          {
            "in": "path",
            "name": "jobBrandingDID", 
            "default": "",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "successful operation"
          },
          "400": {
            "description": "Bad Request: Fail to delete job branding"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    }
  },
  "definitions": {
    "jobBrandingPostRequest": {
      "type": "object",
      "required": [
        "name"
      ],
      "properties": {
        "name": {
          "type": "string"
        },
        "type": {
          "type": "string"
        },
        "status": {
          "type": "string"
        },
        "tracking": {
          "type": "string"
        },
        "companyDescription": {
          "type": "string"
        },
        "media": {
          "type": "object",
          "properties": {
            "header": {
              "type": "string"
            },
            "headerType": {
              "type": "string"
            },
            "tabletBanner": {
              "type": "string"
            },
            "mobileLogo": {
              "type": "string"
            },
            "footer": {
              "type": "string"
            },
            "video": {
              "type": "string"
            },
            "isMultiVideo": {
              "type": "boolean"
            }
          }
        },
        "sections": {
          "type": "object",
          "properties": {
            "companyInfo": {
              "type": "object",
              "properties": {
                "section1": {
                  "type": "number"
                },
                "section2": {
                  "type": "number"
                },
                "section3": {
                  "type": "number"
                }
              }
            },
            "jobDetails": {
              "type": "object",
              "properties": {
                "description": {
                  "type": "number"
                },
                "requirements": {
                  "type": "number"
                },
                "snapshot": {
                  "type": "number"
                }
              }
            }
          }
        },
        "styles": {
          "type": "object",
          "properties": {
            "page": {
              "type": "object",
              "properties": {
                "backgroundImage": {
                  "type": "string"
                },
                "backgroundColor": {
                  "type": "string"
                },
                "backgroundGradient": {
                  "type": "object",
                  "properties":{
                    "orientation": {
                      "type": "string"
                    }
                  } 
                }
              }
            },
            "jobDetails": {
              "type": "object",
              "properties": {
                "container":{
                  "type": "object",
                  "properties": {
                    "borderColor": {
                      "type": "string"
                    },
                    "borderRadius": {
                      "type": "number"
                    },
                    "borderSize": {
                      "type": "number"
                    }
                  }
                },
                "content":{
                  "type": "object",
                  "properties": {
                    "fontColor": {
                      "type": "string"
                    },
                    "fontSize": {
                      "type": "number"
                    },
                    "fontStyle": {
                      "type": "string"
                    }
                  }
                },
                "headings":{
                  "type": "object",
                  "properties": {
                    "fontColor": {
                      "type": "string"
                    },
                    "fontSize": {
                      "type": "number"
                    },
                    "fontStyle": {
                      "type": "string"
                    }
                  }
                }
                ,
                "title":{
                  "type": "object",
                  "properties": {
                    "borderColor": {
                      "type": "string"
                    },
                    "borderRadius": {
                      "type": "number"
                    },
                    "borderSize": {
                      "type": "number"
                    }
                  }
                }
              }
            },
            "companyInfo": {
              "type": "object",
              "properties": {
                "companyOverview":{
                  "type": "object",
                  "properties": {
                    "cverviewHeader":{
                      "type": "object",
                      "properties":{
                        "fontColor": {
                          "type": "string"
                        },
                        "backgroundColor": {
                          "type": "string"
                        },
                        "bottomLineColor": {
                          "type": "string"
                        },
                        "fontStyle": {
                          "type": "string"
                        }                        
                      }
                    },
                    "overviewBackground":{
                      "type": "object",
                      "properties":{
                        "backgroundImage": {
                          "type": "string"
                        },
                        "backgroundColor": {
                          "type": "string"
                        }                     
                      }
                    }
                  }
                },
                "buttons":{
                  "type": "object",
                  "properties":{
                    "backgroundColor": {
                      "type": "string"
                    },
                    "borderColor": {
                      "type": "string"
                    },
                    "borderSize": {
                      "type": "number"
                    },
                    "fontColor": {
                      "type": "string"
                    },
                    "fontStyle": {
                      "type": "string"
                    }    
                  }
                },
                "container":{
                  "type": "object",
                  "properties": {
                    "backgroundColor": {
                      "type": "string"
                    },
                    "backgroundGradient": {
                      "type": "object",
                      "properties":{
                        "orientation": {
                          "type": "string"
                        }
                      } 
                    },
                    "borderColor": {
                      "type": "string"
                    },
                    "borderRadius": {
                      "type": "number"
                    },
                    "borderSize": {
                      "type": "number"
                    }    
                  }
                },
                "content":{
                  "type": "object",
                  "properties":{
                    "fontColor": {
                      "type": "string"
                    },
                    "fontSize": {
                      "type": "number"
                    },
                    "fontStyle": {
                      "type": "string"
                    }    
                  }
                },
                "headings":{
                 "type": "object",
                 "properties": {
                    "fontColor": {
                      "type": "string"
                    },
                    "fontSize": {
                      "type": "number"
                    },
                    "fontStyle": {
                      "type": "string"
                    }    
                  } 
                }
              }
            }
          }
        },
        "widgets" :{
          "type": "object",
          "properties": {
            "facebook": {
              "type": "string"
            },
            "glassdoor": {
              "type": "string"
            },
            "linkedIn": {
              "type": "string"
            },
            "twitter": {
              "type": "string"
            },
            "showWidgets": {
              "type": "boolean"
            }  
          }
        }
      }      
    },
    "getBriefJobBrandingResponse":{
      "type": "object",
      "properties": {
        "jobBrandingDID": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "type": {
          "type": "string"
        },
        "status": {
          "type": "string"
        }
      }
    },
    "getJobBrandingResponse": {
        "type": "object",
        "properties": {
          "jobBrandingDID": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "tracking": {
            "type": "string"
          },
          "companyDescription": {
            "type": "string"
          },
          "media": {
            "type": "object",
            "properties": {
              "header": {
                "type": "string"
              },
              "headerType": {
                "type": "string"
              },
              "tabletBanner": {
                "type": "string"
              },
              "mobileLogo": {
                "type": "string"
              },
              "footer": {
                "type": "string"
              },
              "video": {
                "type": "string"
              },
              "isMultiVideo": {
                "type": "boolean"
              }
            }
          },
          "sections": {
            "type": "object",
            "properties": {
              "companyInfo": {
                "type": "object",
                "properties": {
                  "section1": {
                    "type": "number"
                  },
                  "section2": {
                    "type": "number"
                  },
                  "section3": {
                    "type": "number"
                  }
                }
              },
              "jobDetails": {
                "type": "object",
                "properties": {
                  "description": {
                    "type": "number"
                  },
                  "requirements": {
                    "type": "number"
                  },
                  "snapshot": {
                    "type": "number"
                  }
                }
              }
            }
          },
          "styles": {
            "type": "object",
            "properties": {
              "page": {
                "type": "object",
                "properties": {
                  "backgroundImage": {
                    "type": "string"
                  },
                  "backgroundColor": {
                    "type": "string"
                  },
                  "backgroundGradient": {
                    "type": "object",
                    "properties":{
                      "orientation": {
                        "type": "string"
                      }
                    } 
                  }
                }
              },
              "jobDetails": {
                "type": "object",
                "properties": {
                  "container":{
                    "type": "object",
                    "properties": {
                      "borderColor": {
                        "type": "string"
                      },
                      "borderRadius": {
                        "type": "number"
                      },
                      "borderSize": {
                        "type": "number"
                      }
                    }
                  },
                  "content":{
                    "type": "object",
                    "properties": {
                      "fontColor": {
                        "type": "string"
                      },
                      "fontSize": {
                        "type": "number"
                      },
                      "fontStyle": {
                        "type": "string"
                      }
                    }
                  },
                  "headings":{
                    "type": "object",
                    "properties": {
                      "fontColor": {
                        "type": "string"
                      },
                      "fontSize": {
                        "type": "number"
                      },
                      "fontStyle": {
                        "type": "string"
                      }
                    }
                  }
                  ,
                  "title":{
                    "type": "object",
                    "properties": {
                      "borderColor": {
                        "type": "string"
                      },
                      "borderRadius": {
                        "type": "number"
                      },
                      "borderSize": {
                        "type": "number"
                      }
                    }
                  }
                }
              },
              "companyInfo": {
                "type": "object",
                "properties": {
                  "companyOverview":{
                    "type": "object",
                    "properties": {
                      "cverviewHeader":{
                        "type": "object",
                        "properties":{
                          "fontColor": {
                            "type": "string"
                          },
                          "backgroundColor": {
                            "type": "string"
                          },
                          "bottomLineColor": {
                            "type": "string"
                          },
                          "fontStyle": {
                            "type": "string"
                          }                        
                        }
                      },
                      "overviewBackground":{
                        "type": "object",
                        "properties":{
                          "backgroundImage": {
                            "type": "string"
                          },
                          "backgroundColor": {
                            "type": "string"
                          }                     
                        }
                      }
                    }
                  },
                  "buttons":{
                    "type": "object",
                    "properties":{
                      "backgroundColor": {
                        "type": "string"
                      },
                      "borderColor": {
                        "type": "string"
                      },
                      "borderSize": {
                        "type": "number"
                      },
                      "fontColor": {
                        "type": "string"
                      },
                      "fontStyle": {
                        "type": "string"
                      }    
                    }
                  },
                  "container":{
                    "type": "object",
                    "properties": {
                      "backgroundColor": {
                        "type": "string"
                      },
                      "backgroundGradient": {
                        "type": "object",
                        "properties":{
                          "orientation": {
                            "type": "string"
                          }
                        } 
                      },
                      "borderColor": {
                        "type": "string"
                      },
                      "borderRadius": {
                        "type": "number"
                      },
                      "borderSize": {
                        "type": "number"
                      }    
                    }
                  },
                  "content":{
                    "type": "object",
                    "properties":{
                      "fontColor": {
                        "type": "string"
                      },
                      "fontSize": {
                        "type": "number"
                      },
                      "fontStyle": {
                        "type": "string"
                      }    
                    }
                  },
                  "headings":{
                   "type": "object",
                   "properties": {
                      "fontColor": {
                        "type": "string"
                      },
                      "fontSize": {
                        "type": "number"
                      },
                      "fontStyle": {
                        "type": "string"
                      }    
                    } 
                  }
                }
              }
            }
          },
          "widgets" :{
            "type": "object",
            "properties": {
              "facebook": {
                "type": "string"
              },
              "glassdoor": {
                "type": "string"
              },
              "linkedIn": {
                "type": "string"
              },
              "twitter": {
                "type": "string"
              },
              "showWidgets": {
                "type": "boolean"
              }  
            }
          }
        }      
    },
    "jobBrandingPostResponse":{
      "type": "object",
      "properties": {
        "errors": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/APIResponseError"
          }
        },
        "response": {
          "type": "object",
          "properties": {
            "jobBrandingDID": {
              "type": "string"
            }
          }
        }
      }      
    },
    "APIResponseError": {
      "type": "object",
      "properties": {
        "error": {
          "type": "string"
        }
      }
    },
    "getAllJobBrandingsResponse": {
      "type": "object",
      "properties": {
        "errors": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/APIResponseError"
          }
        },
        "accountDID": {
          "type": "string"
        },
        "responses": {
          "type": "array",
          "items": {
          "$ref": "#/definitions/getBriefJobBrandingResponse"
          }
        }
      }
    },
    "getOneJobBrandingResponse": {
      "type": "object",
      "properties": {
        "errors": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/APIResponseError"
          }
        },
        "response": {
          "$ref": "#/definitions/getJobBrandingResponse"
        }
      }
    }
  }
}