{
"swagger": "2.0",
  "info": {
    "description": "for all following APIs, it should add 2 parameters at API request header before calling API: X_PROXY_SECRET_TOKEN and AUTHORIZATION, all APIs retrieve current accountDID and UserDID from AUTHORIZATION",
    "version": "1.0.0",
    "title": "job branding API"
  },
  "host": "api.careerbuilder.com",
  "basePath": "/corporate/jobposterapi/extendedbrandings",
  "tags": [
    {
      "name": "job branding API",
      "description": "job branding API"
    }
  ],
  "schemes": [
    "http"
  ],
  "paths": {
    "/{id}": {      
      "get": {
        "tags": [
          "job branding API"
        ],
        "summary": "get job branding by id",
        "description": "",
        "operationId": "getOneJobBranding",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [          
          {
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/GetJobBrandingOneResponse"
            }
          },
          "400": {
            "description": "Bad Request: No branding exists with Id",
            "schema": {
              "$ref": "#/definitions/Err400JobBrandingResponse"
            }
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/": {
      "get": {
        "tags": [
          "job branding API"
        ],
        "summary": "get job brandings list",
        "description": "",
        "operationId": "getJobBrandingsList",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/GetJobBrandingListResponse"
            }
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "post": {
        "tags": [
          "job branding API"
        ],
        "summary": "add new job branding",
        "description": "",
        "operationId": "postNewJobBranding",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [         
          {
            "in": "header",
            "name": "Content-Type",
            "default": "application/json",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "description": "add new job branding",
            "required": true,
            "schema": {
              "$ref": "#/definitions/JobBrandingReqObj"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/EditJobBrandingResponse"
            }
          },
          "400": {
            "description": "Bad Request: Name is required，Type is required, Type should be Standard or Premium, Premium branding isn't available, Video branding isn't available, Media Header shouldn't be flash if Type is Standard, Status is required, Status should be Active or Inactive",
            "schema": {
              "$ref": "#/definitions/Err400JobBrandingResponse"
            }
         },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/edit": {      
      "post": {
        "tags": [
          "job branding API"
        ],
        "summary": "edit job branding by id",
        "description": "",
        "operationId": "editJobBranding",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [          
          {
            "in": "header",
            "name": "Content-Type",
            "default": "application/json",
            "required": true,
            "type": "string"
          },         
          {
            "in": "body",
            "name": "body",
            "description": "edit job branding detail",
            "required": true,
            "schema": {
              "$ref": "#/definitions/JobBrandingEditReqObj"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/EditJobBrandingResponse"
            }
          },
          "400": {
            "description": "Bad Request: Id is requied, No branding exists with Id, Name is required，Type is required, Type should be Standard or Premium, Type can't upgrade to Premium since Premium branding isn't availabe, Media Header shouldn't be flash if Type is Standard, Status is required, Status should be Active or Inactive or Deleted",
            "schema": {
              "$ref": "#/definitions/Err400JobBrandingResponse"
            }
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    }
  },
  "definitions": {
    "JobBrandingOneResponse": {
      "type": "object",      
      "properties": {        
        "Id": {
          "type": "string",
          "example":"JB3P4JN60NPQRQSLCVMT"
        },
        "AccountId": {
          "type": "string",
          "example":"ALKSDJLASDFASDF"
        },
        "Name": {
          "type": "string",
          "example":"branding name"
        },
        "Status": {
          "type": "string",
          "example":"Active"
        },
        "Type": {
          "type": "string",
          "example":"Standard"
        },
        "Tracking": {
          "type": "string",
          "example": "<IMG SRC='https://pubads.g.doubleclick.net/activity;xsp=4326694;ord=1?' BORDER=0 WIDTH=1 HEIGHT=1 ALT='Advertisement'/>"
        },
        "CompanyDescription": {
          "type": "string",
          "example": "this firm has specialized in feasibility studies for the design of the industrial parks as well as industrial land utilization. AC Consortium Pte Ltd has been actively involved in the comprehensive design of numerous industrial buildings catering to many different trades in the manufacturing and fabrication sector."
        },
        "Media": {
          "type": "object",
          "properties": {
            "Header": {
              "type": "string",
              "example": "http://img.icbdr.com/MediaManagement/T3/MWM1686LRCMFY24JRT3.jpg"
            },           
            "TabletBanner": {
              "type": "string",
              "example": "http://img.icbdr.com/MediaManagement/W5/MWR45K6Z3FVNVMCQMW5.jpg"
            },
            "MobileLogo": {
              "type": "string",
              "example": "http://img.icbdr.com/MediaManagement/H9/MXK36Z6XLWFD1R28NH9.jpg"
            },
            "Video": {
              "type": "string",
              "example": "5371882024001"
            }
          }
        },
        "Widgets" :{
          "type": "object",
          "properties": {
            "Facebook": {
              "type": "string",
              "example": "noodlesandcompany"
            },
            "LinkedIn": {
              "type": "string",
              "example": "company/medzed-llc"
            },
            "Twitter": {
              "type": "string",
              "example": "BauerGroup"
            }
          }
        },
        "CreatedTime": {
          "type": "string",
          "example":"2015-01-04"
        },
        "UpdatedTime": {
          "type": "string",
          "example":"2015-01-04"
        }
      }
    },
    "JobBrandingListResponse": {
      "type": "object",      
      "properties": {        
        "Id": {
          "type": "string",
          "example":"JB3P4JN60NPQRQSLCVMT"
        },
        "Name": {
          "type": "string",
          "example":"branding name"
        },
        "Status": {
          "type": "string",
          "example":"Active"
        },
        "Type": {
          "type": "string",
          "example":"Standard"
        },
        "HeaderImage": {
          "type": "string",
          "example":"http://img.icbdr.com/MediaManagement/T3/MWM1686LRCMFY24JRT3.jpg"
        },
        "AttachedJobCount": {
          "type": "number",
          "example": 0
        },
        "UpdatedTime": {
          "type": "string",
          "example":"2015-01-04"
        }
      }
    },   
    "JobBrandingEditResponse": {
      "type": "object",      
      "properties": {        
        "Id": {
          "type": "string",
          "example":"JB3P4JN60NPQRQSLCVMT"
        }
      }
    },   
    "JobBrandingReqObj": {
      "type": "object",  
      "required": [
        "Name",
        "Type",
        "Status"
      ],    
      "properties": { 
        "Name": {
          "type": "string",
          "example": "Consortium Pte Ltd"
        },
        "Type": {
          "type": "string",
          "example": "Premium",
          "enum": [
            "Standard",
            "Premium"
          ]
        },
        "Status": {
          "type": "string",
          "example": "Active",
          "enum": [
            "Active",
            "Inactive"
          ]
        },
        "Tracking": {
          "type": "string",
          "example": "<IMG SRC='https://pubads.g.doubleclick.net/activity;xsp=4326694;ord=1?' BORDER=0 WIDTH=1 HEIGHT=1 ALT='Advertisement'/>"
        },
        "CompanyDescription": {
          "type": "string",
          "example": "this firm has specialized in feasibility studies for the design of the industrial parks as well as industrial land utilization. AC Consortium Pte Ltd has been actively involved in the comprehensive design of numerous industrial buildings catering to many different trades in the manufacturing and fabrication sector."
        },
        "Media": {
          "type": "object",
          "properties": {
            "Header": {
              "type": "string",
              "example": "http://img.icbdr.com/MediaManagement/T3/MWM1686LRCMFY24JRT3.jpg"
            },           
            "TabletBanner": {
              "type": "string",
              "example": "http://img.icbdr.com/MediaManagement/W5/MWR45K6Z3FVNVMCQMW5.jpg"
            },
            "MobileLogo": {
              "type": "string",
              "example": "http://img.icbdr.com/MediaManagement/H9/MXK36Z6XLWFD1R28NH9.jpg"
            },           
            "Video": {
              "type": "string",
              "example": "5371882024001"
            }        
          }
        },
        "Widgets" :{
          "type": "object",
          "properties": {
            "Facebook": {
              "type": "string",
              "example": "noodlesandcompany"
            },
            "LinkedIn": {
              "type": "string",
              "example": "company/medzed-llc"
            },
            "Twitter": {
              "type": "string",
              "example": "BauerGroup"
            }
          }
        }
      }      
    },
    "JobBrandingEditReqObj": {
      "type": "object",   
      "required": [
        "Id",
        "Name",
        "Type",
        "Status"
      ],    
      "properties": {    
        "Id": {
          "type": "string",
          "example": "JB003915W0SFVW32RXQ4"
        },    
        "Name": {
          "type": "string",
          "example": "Consortium Pte Ltd"
        },
        "Type": {
          "type": "string",
          "example": "Premium",
          "enum": [
            "Standard",
            "Premium"
          ]
        },   
        "Status": {
          "type": "string",
          "example": "Active",
          "enum": [
            "Active",
            "Inactive",
            "Deleted"
          ]
        },     
        "Tracking": {
          "type": "string",
          "example": "<IMG SRC='https://pubads.g.doubleclick.net/activity;xsp=4326694;ord=1?' BORDER=0 WIDTH=1 HEIGHT=1 ALT='Advertisement'/>"
        },
        "CompanyDescription": {
          "type": "string",
          "example": "this firm has specialized in feasibility studies for the design of the industrial parks as well as industrial land utilization. AC Consortium Pte Ltd has been actively involved in the comprehensive design of numerous industrial buildings catering to many different trades in the manufacturing and fabrication sector."
        },
        "Media": {
          "type": "object",
          "properties": {
            "Header": {
              "type": "string",
              "example": "http://img.icbdr.com/MediaManagement/T3/MWM1686LRCMFY24JRT3.jpg"
            },           
            "TabletBanner": {
              "type": "string",
              "example": "http://img.icbdr.com/MediaManagement/W5/MWR45K6Z3FVNVMCQMW5.jpg"
            },
            "MobileLogo": {
              "type": "string",
              "example": "http://img.icbdr.com/MediaManagement/H9/MXK36Z6XLWFD1R28NH9.jpg"
            },
            "Video": {
              "type": "string",
              "example": "5371882024001"
            }
          }
        },
        "Widgets" :{
          "type": "object",
          "properties": {
            "Facebook": {
              "type": "string",
              "example": "noodlesandcompany"
            },
            "LinkedIn": {
              "type": "string",
              "example": "company/medzed-llc"
            },
            "Twitter": {
              "type": "string",
              "example": "BauerGroup"
            }
          }
        }
      }      
    },
    "Err400JobBrandingResponse": {
      "type": "object",
      "properties": {
        "Errors": {
          "type": "array",
          "items": {
            "type": "string",
            "example": "Bad Request: X is required"
          }
        },
        "Results": {
          "type": "array",
          "items": {
            "type": "string",
            "example": ""
          }         
        }
      }
    },
    "EditJobBrandingResponse": {
      "type": "object",
      "properties": {
        "Errors": {
          "type": "array",
          "items": {
            "type": "string",
            "example": ""
          }
        },
        "Results": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/JobBrandingEditResponse"
          }
        }
      }
    },
    "GetJobBrandingListResponse": {
      "type": "object",
      "properties": {
        "Errors": {
          "type": "array",
          "items": {
            "type": "string",
            "example": ""
          }
        },
        "Results": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/JobBrandingListResponse"
          }
        }
      }
    },
    "GetJobBrandingOneResponse": {
      "type": "object",
      "properties": {
        "Errors": {
          "type": "array",
          "items": {
            "type": "string",
            "example": ""
          }
        },
        "Results": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/JobBrandingOneResponse"
          }
        }
      }
    }
  }
}