{
"swagger": "2.0",
  "info": {
    "description": "for all following APIs, it should add 2 parameters at API request header before calling API: X_PROXY_SECRET_TOKEN and AUTHORIZATION, all APIs retrieve current accountDID and UserDID from AUTHORIZATION",
    "version": "1.0.0",
    "title": "job branding API"
  },
  "host": "api.careerbuilder.com",
  "basePath": "/corporate/jobposterapi/jobbrandings",
  "tags": [
    {
      "name": "job branding API",
      "description": "job branding API"
    }
  ],
  "schemes": [
    "http"
  ],
  "paths": {
    "/jobbrandings": {
      "post": {
        "tags": [
          "job branding API"
        ],
        "summary": "add new job branding",
        "description": "",
        "operationId": "postNewJobBranding",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [         
          {
            "in": "header",
            "name": "Content-Type",
            "default": "application/json",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "description": "post new job branding",
            "required": true,
            "schema": {
              "$ref": "#/definitions/JobBrandingReqObj"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/UpdateJobBrandingResponse"
            }
          },
          "400": {
            "description": "Bad Request: Name is required"
         },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/jobbrandings/{id}": {      
      "put": {
        "tags": [
          "job branding API"
        ],
        "summary": "update job branding by id",
        "description": "",
        "operationId": "updateJobBranding",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [          
          {
            "in": "header",
            "name": "Content-Type",
            "default": "application/json",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "id", 
            "default": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "description": "update job branding detail",
            "required": true,
            "schema": {
              "$ref": "#/definitions/JobBrandingReqObj"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "successful operation"
          },
          "400": {
            "description": "Bad Request: Name is required"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "delete": {
        "tags": [
          "job branding API"
        ],
        "summary": "delete job branding by id",
        "description": "",
        "operationId": "deleteJobBranding",
        "parameters": [          
          {
            "in": "path",
            "name": "id", 
            "default": "",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/DeleteJobBrandingResponse"
            }
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    }
  },
  "definitions": {
    "DeleteJobBrandingResponse": {
      "type": "object",
      "properties": {
        "Errors": {
          "type": "array",
          "items":
          {
            "type": "string",
            "example": ""
          }
        },
        "Results": {
          "type": "array",
          "items":
          {
            "type": "boolean"
          }
        }
      }
    },
    "JobBrandingUpdateResponse": {
      "type": "object",      
      "properties": {
        "Id": {
          "type": "string",
          "example":"JB3P4JN60NPQRQSLCVMT"
        }
      }
    },
    "JobBrandingReqObj": {
      "type": "object",      
      "properties": {        
        "Name": {
          "type": "string",
          "example": "Consortium Pte Ltd"
        },
        "Type": {
          "type": "number"
        },
        "Status": {
          "type": "boolean"
        },
        "Tracking": {
          "type": "string",
          "example": "<IMG SRC='https://pubads.g.doubleclick.net/activity;xsp=4326694;ord=1?' BORDER=0 WIDTH=1 HEIGHT=1 ALT='Advertisement'/>"
        },
        "CompanyDescription": {
          "type": "string",
          "example": "this firm has specialized in feasibility studies for the design of the industrial parks as well as industrial land utilization. AC Consortium Pte Ltd has been actively involved in the comprehensive design of numerous industrial buildings catering to many different trades in the manufacturing and fabrication sector."
        },
        "Media": {
          "type": "object",
          "properties": {
            "Header": {
              "type": "string",
              "example": "http://img.icbdr.com/MediaManagement/T3/MWM1686LRCMFY24JRT3.jpg"
            },
            "HeaderType": {
              "type": "number"
            },
            "TabletBanner": {
              "type": "string",
              "example": "http://img.icbdr.com/MediaManagement/W5/MWR45K6Z3FVNVMCQMW5.jpg"
            },
            "MobileLogo": {
              "type": "string",
              "example": "http://img.icbdr.com/MediaManagement/H9/MXK36Z6XLWFD1R28NH9.jpg"
            },
            "Footer": {
              "type": "string",
              "example": "http://img.icbdr.com/MediaManagement/0S/MWD5VH62PNDFGGX4Z0S.jpg"
            },
            "Video": {
              "type": "string",
              "example": "5371882024001"
            },
            "IsMultiVideo": {
              "type": "boolean"
            }
          }
        },
        "Sections": {
          "type": "object",
          "properties": {
            "CompanyInfo": {
              "type": "object",
              "properties": {
                "Section1": {
                  "type": "number"
                },
                "Section2": {
                  "type": "number"
                },
                "Section3": {
                  "type": "number"
                }
              }
            },
            "JobDetails": {
              "type": "object",
              "properties": {
                "Description": {
                  "type": "number"
                },
                "Requirements": {
                  "type": "number"
                },
                "Snapshot": {
                  "type": "number"
                }
              }
            }
          }
        },
        "Styles": {
          "type": "object",
          "properties": {
            "Page": {
              "type": "object",
              "properties": {
                "BackgroundImage": {
                  "type": "string",
                  "example": "http://img.icbdr.com/MediaManagement/6K/M8Z19W6R17B667Y2J6K.jpg"
                },
                "BackgroundColor": {
                  "type": "string",
                  "example": "FFFFFF"
                },
                "BackgroundGradient": {
                  "type": "object",
                  "properties":{
                    "Orientation": {
                      "type": "string",
                      "example": "Horizontal"
                    }
                  } 
                }
              }
            },
            "JobDetails": {
              "type": "object",
              "properties": {
                "Container":{
                  "type": "object",
                  "properties": {
                    "BorderColor": {
                      "type": "string",
                      "example": "#000000"
                    },
                    "BorderRadius": {
                      "type": "number"
                    },
                    "BorderSize": {
                      "type": "number"
                    }
                  }
                },
                "Content":{
                  "type": "object",
                  "properties": {
                    "FontColor": {
                      "type": "string",
                      "example": "#000000"
                    },
                    "FontSize": {
                      "type": "number"
                    },
                    "FontStyle": {
                      "type": "string",
                      "example": "Arial"
                    }
                  }
                },
                "Headings":{
                  "type": "object",
                  "properties": {
                    "FontColor": {
                      "type": "string",
                      "example": "#000000"
                    },
                    "FontSize": {
                      "type": "number"
                    },
                    "FontStyle": {
                      "type": "string",
                      "example": "Arial"
                    }
                  }
                }
                ,
                "Title":{
                  "type": "object",
                  "properties": {
                    "BorderColor": {
                      "type": "string",
                      "example": "#000000"
                    },
                    "BorderRadius": {
                      "type": "number"
                    },
                    "BorderSize": {
                      "type": "number"
                    }
                  }
                }
              }
            },
            "CompanyInfo": {
              "type": "object",
              "properties": {
                "CompanyOverview":{
                  "type": "object",
                  "properties": {
                    "OverviewHeader":{
                      "type": "object",
                      "properties":{
                        "FontColor": {
                          "type": "string",
                          "example": "#FFFFFF"
                        },
                        "BackgroundColor": {
                          "type": "string",
                          "example": "#DF691E"
                        },
                        "BottomLineColor": {
                          "type": "string",
                          "example": "#2D52A2"
                        },
                        "FontStyle": {
                          "type": "string",
                          "example": "Arial"
                        }                        
                      }
                    },
                    "OverviewBackground":{
                      "type": "object",
                      "properties":{
                        "BackgroundImage": {
                          "type": "string",
                          "example":""
                        },
                        "BackgroundColor": {
                          "type": "string",
                          "example": "#FFFFFF"
                        }                     
                      }
                    }
                  }
                },
                "Buttons":{
                  "type": "object",
                  "properties":{
                    "BackgroundColor": {
                      "type": "string",
                      "example": "#0252A2"
                    },
                    "BorderColor": {
                      "type": "string",
                      "example": "#0252A2"
                    },
                    "BorderSize": {
                      "type": "number"
                    },
                    "FontColor": {
                      "type": "string",
                      "example": "#FFFFFF"
                    },
                    "FontStyle": {
                      "type": "string",
                      "example": "Arial"
                    }    
                  }
                },
                "Container":{
                  "type": "object",
                  "properties": {
                    "BackgroundColor": {
                      "type": "string",
                      "example": "#FFFFFF"
                    },
                    "BackgroundGradient": {
                      "type": "object",
                      "properties":{
                        "Orientation": {
                          "type": "string",
                          "example": "Horizontal"
                        }
                      } 
                    },
                    "BorderColor": {
                      "type": "string",
                      "example": "#000000"
                    },
                    "BorderRadius": {
                      "type": "number"
                    },
                    "BorderSize": {
                      "type": "number"
                    }    
                  }
                },
                "Content":{
                  "type": "object",
                  "properties":{
                    "FontColor": {
                      "type": "string",
                      "example":"#000000"
                    },
                    "FontSize": {
                      "type": "number"
                    },
                    "FontStyle": {
                      "type": "string",
                      "example": "Arial"
                    }    
                  }
                },
                "Headings":{
                 "type": "object",
                 "properties": {
                    "FontColor": {
                      "type": "string",
                      "example": "#000000"
                    },
                    "FontSize": {
                      "type": "number"
                    },
                    "FontStyle": {
                      "type": "string",
                      "example": "Arial"
                    }    
                  } 
                }
              }
            }
          }
        },
        "Widgets" :{
          "type": "object",
          "properties": {
            "Facebook": {
              "type": "string",
              "example": "noodlesandcompany"
            },
            "Glassdoor": {
              "type": "string",
              "example":""
            },
            "LinkedIn": {
              "type": "string",
              "example": "company/medzed-llc"
            },
            "Twitter": {
              "type": "string",
              "example": "BauerGroup"
            },
            "ShowWidgets": {
              "type": "boolean"
            }  
          }
        }
      }      
    },
    "UpdateJobBrandingResponse": {
      "type": "object",
      "properties": {
        "Errors": {
          "type": "array",
          "items": {
            "type": "string",
            "example": ""
          }
        },
        "Results": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/JobBrandingUpdateResponse"
          }
        }
      }
    }
  }
}