{
"swagger": "2.0",
  "info": {
    "description": "for all following APIs, it should add 2 parameters at API request header before calling API: X_PROXY_SECRET_TOKEN and AUTHORIZATION, all APIs retrieve current accountDID and UserDID from AUTHORIZATION",
    "version": "1.0.0",
    "title": "job Branding API"
  },
  "host": "api.careerbuilder.com",
  "basePath": "/corporate/jobposterapi/jobBranding",
  "tags": [
    {
      "name": "job Branding API",
      "description": "job Branding API"
    }
  ],
  "schemes": [
    "http"
  ],
  "paths": {
    "/jobBranding": {
      "post": {
        "tags": [
          "job Branding API"
        ],
        "summary": "add new job Branding",
        "description": "",
        "operationId": "postNewJobBranding",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [         
          {
            "in": "header",
            "name": "Content-Type",
            "default": "application/json",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "description": "post new job branding",
            "required": true,
            "schema": {
              "$ref": "#/definitions/jobBrandingPostRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/jobBrandingPostResponse"
            }
          },
          "400": {
            "description": "Bad Request: SubGroupDID is required, mediaName is required"
         },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/media/getall": {
      "get": {
        "tags": [
          "media API"
        ],
        "summary": "Get all medias",
        "description": "",
        "operationId": "GetAllMedias",
        "parameters": [
          {
            "in": "header",
            "name": "Content-Type",
            "default": "application/json",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "description": "criteria for loading media",
            "required": true,
            "schema": {
              "$ref": "#/definitions/mediaLoadCritRequest"
            }
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/getAllMediasResponses"
            }
          },
          "400": {
            "description": "Bad Request: Fail to get media data"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },   
    "/media/{mediaDID}": {
      "get": {
        "tags": [
          "media API"
        ],
        "summary": "Get media by mediaDID",
        "description": "",
        "operationId": "GetMedia",
        "parameters": [          
          {
            "in": "path",
            "name": "mediaDID", 
            "default": "",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/getOneMediaResponse"
            }
          },
          "400": {
            "description": "Bad Request: Fail to get media data"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "put": {
        "tags": [
          "media API"
        ],
        "summary": "update media by mediaDID",
        "description": "",
        "operationId": "updateMedia",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [          
          {
            "in": "header",
            "name": "Content-Type",
            "default": "application/json",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "mediaDID", 
            "default": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "description": "update media detail",
            "required": true,
            "schema": {
              "$ref": "#/definitions/mediaUpdateRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/getOneMediaResponse"
            }
          },
          "400": {
            "description": "Bad Request: mediaDID is required, SubGroupDID is required, mediaName is required"
         },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "delete": {
        "tags": [
          "media API"
        ],
        "summary": "delete media by mediaDID",
        "description": "",
        "operationId": "deleteMedia",
        "parameters": [          
          {
            "in": "path",
            "name": "mediaDID", 
            "default": "",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "successful operation"
          },
          "400": {
            "description": "Bad Request: Fail to get media data"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/media/share/{mediaDID}": {
      "post": {
        "tags": [
          "media API"
        ],
        "summary": "share media",
        "description": "",
        "operationId": "shareMedia",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [          
          {
            "in": "header",
            "name": "Content-Type",
            "default": "application/json",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "mediaDID", 
            "default": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "description": "target media for sharing",
            "required": true,
            "schema": {
              "$ref": "#/definitions/mediaShareRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
          },
          "400": {
            "description": "Bad Request: targetMediaGroup is required, targetMediaSubGroup is required"
         },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    }
  },
  "definitions": {
    "mediaShareRequest":{
      "type": "array",
      "items": {
        "type": "object",    
        "required": [
          "targetMediaGroup",
          "targetMediaSubGroup"
        ],  
        "properties": {
          "targetMediaGroup": {
            "type": "string"
          },
          "targetMediaSubGroup": {
            "type": "string"
          }
        }
      }
    },
    "mediaLoadCritRequest":{
      "type": "object",      
      "properties": {
        "mediaGroup": {
          "type": "string"
        },
        "mediaSubGroup": {
          "type": "string"
        },
        "pageNo": {
          "type": "number"
        },
        "pageSize": {
          "type": "number"
        },
        "sortBy": {
          "type": "string"
        }      
      } 
    },
    "mediaUpdateRequest": {
      "type": "object",
      "required": [
        "mediaGroup",
        "mediaSubGroup"
      ],
      "properties": {        
        "mediaGroup": {
          "type": "string"
        },
        "mediaSubGroup": {
          "type": "string"
        },
        "mediaName": {
          "type": "string"
        },
        "mediaType": {
          "type": "string"
        },
        "fileBytes": {
          "type": "string"
        },
        "externalURL": {
          "type": "string"
        }
      }      
    },

    "jobBrandingPostRequest": {
      "type": "object",
      "required": [
        "Name"
      ],
      "properties": {
        "name": {
          "type": "string"
        },
        "type": {
          "type": "string"
        },
        "status": {
          "type": "string"
        },
        "tracking": {
          "type": "string"
        },
        "companyDescription": {
          "type": "string"
        },
        "media": {
          "type": "object",
          "properties": {
            "header": {
              "type": "string"
            },
            "headerType": {
              "type": "string"
            },
            "tabletBanner": {
              "type": "string"
            },
            "mobileLogo": {
              "type": "string"
            },
            "footer": {
              "type": "string"
            },
            "video": {
              "type": "string"
            },
            "isMultiVideo": {
              "type": "boolean"
            }
          }
        },
        "sections": {
          "type": "object",
          "properties": {
            "companyInfo": {
              "type": "object",
              "properties": {
                "section1": {
                  "type": "number"
                },
                "section2": {
                  "type": "number"
                },
                "section3": {
                  "type": "number"
                }
              }
            },
            "jobDetails": {
              "type": "object",
              "properties": {
                "description": {
                  "type": "number"
                },
                "requirements": {
                  "type": "number"
                },
                "snapshot": {
                  "type": "number"
                }
              }
            }
          }
        },
        "styles": {
          "type": "object",
          "properties": {
            "page": {
              "type": "object",
              "properties": {
                "backgroundImage": {
                  "type": "string"
                },
                "backgroundColor": {
                  "type": "string"
                },
                "backgroundGradient": {
                  "type": "object",
                  "properties":{
                    "orientation": {
                      "type": "string"
                    }
                  } 
                }
              }
            },
            "jobDetails": {
              "type": "object",
              "properties": {
                "container":{
                  "type": "object",
                  "properties": {
                    "borderColor": {
                      "type": "string"
                    },
                    "borderRadius": {
                      "type": "number"
                    },
                    "borderSize": {
                      "type": "number"
                    }
                  }
                },
                "content":{
                  "type": "object",
                  "properties": {
                    "fontColor": {
                      "type": "string"
                    },
                    "fontSize": {
                      "type": "number"
                    },
                    "fontStyle": {
                      "type": "string"
                    }
                  }
                },
                "headings":{
                  "type": "object",
                  "properties": {
                    "fontColor": {
                      "type": "string"
                    },
                    "fontSize": {
                      "type": "number"
                    },
                    "fontStyle": {
                      "type": "string"
                    }
                  }
                }
                ,
                "title":{
                  "type": "object",
                  "properties": {
                    "borderColor": {
                      "type": "string"
                    },
                    "borderRadius": {
                      "type": "number"
                    },
                    "borderSize": {
                      "type": "number"
                    }
                  }
                }
              }
            },
            "companyInfo": {
              "type": "object",
              "properties": {
                "companyOverview":{
                  "type": "object",
                  "properties": {
                    "cverviewHeader":{
                      "type": "object",
                      "properties":{
                        "fontColor": {
                          "type": "string"
                        },
                        "backgroundColor": {
                          "type": "string"
                        },
                        "bottomLineColor": {
                          "type": "string"
                        },
                        "fontStyle": {
                          "type": "string"
                        }                        
                      }
                    },
                    "overviewBackground":{
                      "type": "object",
                      "properties":{
                        "backgroundImage": {
                          "type": "string"
                        },
                        "backgroundColor": {
                          "type": "string"
                        }                     
                      }
                    }
                  }
                },
                "buttons":{
                  "type": "object",
                  "properties":{
                    "backgroundColor": {
                      "type": "string"
                    },
                    "borderColor": {
                      "type": "string"
                    },
                    "borderSize": {
                      "type": "number"
                    },
                    "fontColor": {
                      "type": "string"
                    },
                    "fontStyle": {
                      "type": "string"
                    }    
                  }
                },
                "container":{
                  "type": "object",
                  "properties": {
                    "backgroundColor": {
                      "type": "string"
                    },
                    "backgroundGradient": {
                      "type": "object",
                      "properties":{
                        "orientation": {
                          "type": "string"
                        }
                      } 
                    },
                    "borderColor": {
                      "type": "string"
                    },
                    "borderRadius": {
                      "type": "number"
                    },
                    "borderSize": {
                      "type": "number"
                    }    
                  }
                },
                "content":{
                  "type": "object",
                  "properties":{
                    "fontColor": {
                      "type": "string"
                    },
                    "fontSize": {
                      "type": "number"
                    },
                    "fontStyle": {
                      "type": "string"
                    }    
                  }
                },
                "headings":{
                 "type": "object",
                 "properties": {
                    "fontColor": {
                      "type": "string"
                    },
                    "fontSize": {
                      "type": "number"
                    },
                    "fontStyle": {
                      "type": "string"
                    }    
                  } 
                }
              }
            }
          }
        },
        "widgets" :{
          "type": "object",
          "properties": {
            "facebook": {
              "type": "string"
            },
            "glassdoor": {
              "type": "string"
            },
            "linkedIn": {
              "type": "string"
            },
            "twitter": {
              "type": "string"
            },
            "showWidgets": {
              "type": "boolean"
            }  
          }
        }

      }      
    },
    "getMediaResponse": {
      "type": "object",
      "properties": {
        "mediaDID": {
          "type": "string"
        },
        "mediaGroup": {
          "type": "string"
        },
        "mediaSubGroup": {
          "type": "string"
        },
        "mediaName": {
          "type": "string"
        },
        "mediaPath": {
          "type": "string"
        },
        "mediaContent": {
          "type": "string"
        },
        "externalURL": {
          "type": "string"
        },
        "mediaWidth": {
          "type": "integer"
        },
        "mediaHeight": {
          "type": "integer"
        },
        "mediaFileSize": {
          "type": "integer"
        },
        "mediaType": {
          "type": "string"
        },        
        "mediaTotalUsage": {
          "type": "integer"
        }
      }
    },
    "jobBrandingPostResponse":{
      "type": "object",
      "properties": {
        "Errors": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/APIResponseError"
          }
        },
        "Response": {
          "type": "object",
          "properties": {
            "jobBrandingDID": {
              "type": "string"
            }
          }
        }
      }      
    },
    "APIResponseError": {
      "type": "object",
      "properties": {
        "Error": {
          "type": "string"
        }
      }
    },
    "getAllMediasResponses": {
      "type": "object",
      "properties": {
        "Errors": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/APIResponseError"
          }
        },
        "mediaGroup": {
          "type": "string"
        },
        "mediaSubGroup": {
          "type": "string"
        },
        "pageNo": {
          "type": "number"
        },
        "TotalPages": {
          "type": "number"
        },
        "Responses": {
          "type": "array",
          "items": {
          "$ref": "#/definitions/getMediaResponse"
          }
        }
      }
    },
    "getOneMediaResponse": {
      "type": "object",
      "properties": {
        "Errors": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/APIResponseError"
          }
        },
        "Response": {
          "$ref": "#/definitions/getMediaResponse"
        }
      }
    }
  }
}