{
"swagger": "2.0",
  "info": {
    "description": "for all following APIs, it should add 2 parameters at API request header before calling API: X_PROXY_SECRET_TOKEN and AUTHORIZATION, all APIs retrieve current accountDID and UserDID from AUTHORIZATION",
    "version": "1.0.0",
    "title": "job Branding API"
  },
  "host": "api.careerbuilder.com",
  "basePath": "/corporate/jobposterapi/jobBranding",
  "tags": [
    {
      "name": "job Branding API",
      "description": "job Branding API"
    }
  ],
  "schemes": [
    "http"
  ],
  "paths": {
    "/jobBranding": {
      "post": {
        "tags": [
          "job Branding API"
        ],
        "summary": "add new job Branding",
        "description": "",
        "operationId": "postNewJobBranding",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [         
          {
            "in": "header",
            "name": "Content-Type",
            "default": "application/json",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "description": "post new job branding",
            "required": true,
            "schema": {
              "$ref": "#/definitions/jobBrandingPostRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/jobBrandingPostResponse"
            }
          },
          "400": {
            "description": "Bad Request: SubGroupDID is required, mediaName is required"
         },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/media/getall": {
      "get": {
        "tags": [
          "media API"
        ],
        "summary": "Get all medias",
        "description": "",
        "operationId": "GetAllMedias",
        "parameters": [
          {
            "in": "header",
            "name": "Content-Type",
            "default": "application/json",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "description": "criteria for loading media",
            "required": true,
            "schema": {
              "$ref": "#/definitions/mediaLoadCritRequest"
            }
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/getAllMediasResponses"
            }
          },
          "400": {
            "description": "Bad Request: Fail to get media data"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },   
    "/media/{mediaDID}": {
      "get": {
        "tags": [
          "media API"
        ],
        "summary": "Get media by mediaDID",
        "description": "",
        "operationId": "GetMedia",
        "parameters": [          
          {
            "in": "path",
            "name": "mediaDID", 
            "default": "",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/getOneMediaResponse"
            }
          },
          "400": {
            "description": "Bad Request: Fail to get media data"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "put": {
        "tags": [
          "media API"
        ],
        "summary": "update media by mediaDID",
        "description": "",
        "operationId": "updateMedia",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [          
          {
            "in": "header",
            "name": "Content-Type",
            "default": "application/json",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "mediaDID", 
            "default": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "description": "update media detail",
            "required": true,
            "schema": {
              "$ref": "#/definitions/mediaUpdateRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/getOneMediaResponse"
            }
          },
          "400": {
            "description": "Bad Request: mediaDID is required, SubGroupDID is required, mediaName is required"
         },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "delete": {
        "tags": [
          "media API"
        ],
        "summary": "delete media by mediaDID",
        "description": "",
        "operationId": "deleteMedia",
        "parameters": [          
          {
            "in": "path",
            "name": "mediaDID", 
            "default": "",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "successful operation"
          },
          "400": {
            "description": "Bad Request: Fail to get media data"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/media/share/{mediaDID}": {
      "post": {
        "tags": [
          "media API"
        ],
        "summary": "share media",
        "description": "",
        "operationId": "shareMedia",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [          
          {
            "in": "header",
            "name": "Content-Type",
            "default": "application/json",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "mediaDID", 
            "default": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "description": "target media for sharing",
            "required": true,
            "schema": {
              "$ref": "#/definitions/mediaShareRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
          },
          "400": {
            "description": "Bad Request: targetMediaGroup is required, targetMediaSubGroup is required"
         },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    }
  },
  "definitions": {
    "mediaShareRequest":{
      "type": "array",
      "items": {
        "type": "object",    
        "required": [
          "targetMediaGroup",
          "targetMediaSubGroup"
        ],  
        "properties": {
          "targetMediaGroup": {
            "type": "string"
          },
          "targetMediaSubGroup": {
            "type": "string"
          }
        }
      }
    },
    "mediaLoadCritRequest":{
      "type": "object",      
      "properties": {
        "mediaGroup": {
          "type": "string"
        },
        "mediaSubGroup": {
          "type": "string"
        },
        "pageNo": {
          "type": "number"
        },
        "pageSize": {
          "type": "number"
        },
        "sortBy": {
          "type": "string"
        }      
      } 
    },
    "mediaUpdateRequest": {
      "type": "object",
      "required": [
        "mediaGroup",
        "mediaSubGroup"
      ],
      "properties": {        
        "mediaGroup": {
          "type": "string"
        },
        "mediaSubGroup": {
          "type": "string"
        },
        "mediaName": {
          "type": "string"
        },
        "mediaType": {
          "type": "string"
        },
        "fileBytes": {
          "type": "string"
        },
        "externalURL": {
          "type": "string"
        }
      }      
    },

    "jobBrandingPostRequest": {
      "type": "object",
      "required": [
        "Name"
      ],
      "properties": {
        "Name": {
          "type": "string"
        },
        "Type": {
          "type": "string"
        },
        "Status": {
          "type": "string"
        },
        "Tracking": {
          "type": "string"
        },
        "CompanyDescription": {
          "type": "string"
        },
        "Media": {
          "type": "object",
          "properties": {
            "Header": {
              "type": "string"
            },
            "HeaderType": {
              "type": "string"
            },
            "TabletBanner": {
              "type": "string"
            },
            "MobileLogo": {
              "type": "string"
            },
            "Footer": {
              "type": "string"
            },
            "Video": {
              "type": "string"
            },
            "IsMultiVideo": {
              "type": "boolean"
            }
          }
        },
        "Sections": {
          "type": "object",
          "properties": {
            "CompanyInfo": {
              "type": "object",
              "properties": {
                "Section1": {
                  "type": "number"
                },
                "Section2": {
                  "type": "number"
                },
                "Section3": {
                  "type": "number"
                }
              }
            },
            "JobDetails": {
              "type": "object",
              "properties": {
                "Description": {
                  "type": "number"
                },
                "Requirements": {
                  "type": "number"
                },
                "Snapshot": {
                  "type": "number"
                }
              }
            }
          }
        },
        "Styles": {
          "type": "object",
          "properties": {
            "Page": {
              "type": "object",
              "properties": {
                "BackgroundImage": {
                  "type": "string"
                },
                "BackgroundColor": {
                  "type": "string"
                },
                "BackgroundGradient": {
                  "type": "object",
                  "properties":{
                    "Orientation": {
                      "type": "string"
                    }
                  } 
                }
              }
            },
            "JobDetails": {
              "type": "object",
              "properties": {
                "Container":{
                  "type": "object",
                  "properties": {
                    "BorderColor": {
                      "type": "string"
                    },
                    "BorderRadius": {
                      "type": "number"
                    },
                    "BorderSize": {
                      "type": "number"
                    }
                  }
                },
                "Content":{
                  "type": "object",
                  "properties": {
                    "FontColor": {
                      "type": "string"
                    },
                    "FontSize": {
                      "type": "number"
                    },
                    "FontStyle": {
                      "type": "string"
                    }
                  }
                },
                "Headings":{
                  "type": "object",
                  "properties": {
                    "FontColor": {
                      "type": "string"
                    },
                    "FontSize": {
                      "type": "number"
                    },
                    "FontStyle": {
                      "type": "string"
                    }
                  }
                }
                ,
                "Title":{
                  "type": "object",
                  "properties": {
                    "BorderColor": {
                      "type": "string"
                    },
                    "BorderRadius": {
                      "type": "number"
                    },
                    "BorderSize": {
                      "type": "number"
                    }
                  }
                }
              }
            },
            "CompanyInfo": {
              "type": "object",
              "properties": {
                "CompanyOverview":{
                  "type": "object",
                  "properties": {
                    "OverviewHeader":{
                      "type": "object",
                      "properties":{
                        "FontColor": {
                          "type": "string"
                        },
                        "BackgroundColor": {
                          "type": "string"
                        },
                        "BottomLineColor": {
                          "type": "string"
                        },
                        "FontStyle": {
                          "type": "string"
                        }                        
                      }
                    },
                    "OverviewBackground":{
                      "type": "object",
                      "properties":{
                        "BackgroundImage": {
                          "type": "string"
                        },
                        "BackgroundColor": {
                          "type": "string"
                        }                     
                      }
                    }
                  }
                },
                "Buttons":{
                  "type": "object",
                  "properties":{
                    "BackgroundColor": {
                      "type": "string"
                    },
                    "BorderColor": {
                      "type": "string"
                    },
                    "BorderSize": {
                      "type": "number"
                    },
                    "FontColor": {
                      "type": "string"
                    },
                    "FontStyle": {
                      "type": "string"
                    }    
                  }
                },
                "Container":{
                  "type": "object",
                  "properties": {
                    "BackgroundColor": {
                      "type": "string"
                    },
                    "BackgroundGradient": {
                      "type": "object",
                      "properties":{
                        "Orientation": {
                          "type": "string"
                        }
                      } 
                    },
                    "BorderColor": {
                      "type": "string"
                    },
                    "BorderRadius": {
                      "type": "number"
                    },
                    "BorderSize": {
                      "type": "number"
                    }    
                  }
                },
                "Content":{
                  "type": "object",
                  "properties":{
                    "FontColor": {
                      "type": "string"
                    },
                    "FontSize": {
                      "type": "number"
                    },
                    "FontStyle": {
                      "type": "string"
                    }    
                  }
                },
                "Headings":{
                 "type": "object",
                 "properties": {
                    "FontColor": {
                      "type": "string"
                    },
                    "FontSize": {
                      "type": "number"
                    },
                    "FontStyle": {
                      "type": "string"
                    }    
                  } 
                }
              }
            }
          }
        },
        "Widgets" :{
          "type": "object",
          "properties": {
            "Facebook": {
              "type": "string"
            },
            "Glassdoor": {
              "type": "string"
            },
            "LinkedIn": {
              "type": "string"
            },
            "Twitter": {
              "type": "string"
            },
            "ShowWidgets": {
              "type": "boolean"
            }  
          }
        }

      }      
    },
    "getMediaResponse": {
      "type": "object",
      "properties": {
        "mediaDID": {
          "type": "string"
        },
        "mediaGroup": {
          "type": "string"
        },
        "mediaSubGroup": {
          "type": "string"
        },
        "mediaName": {
          "type": "string"
        },
        "mediaPath": {
          "type": "string"
        },
        "mediaContent": {
          "type": "string"
        },
        "externalURL": {
          "type": "string"
        },
        "mediaWidth": {
          "type": "integer"
        },
        "mediaHeight": {
          "type": "integer"
        },
        "mediaFileSize": {
          "type": "integer"
        },
        "mediaType": {
          "type": "string"
        },        
        "mediaTotalUsage": {
          "type": "integer"
        }
      }
    },
    "jobBrandingPostResponse":{
      "type": "object",
      "properties": {
        "Errors": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/APIResponseError"
          }
        },
        "Response": {
          "type": "object",
          "properties": {
            "jobBrandingDID": {
              "type": "string"
            }
          }
        }
      }      
    },
    "APIResponseError": {
      "type": "object",
      "properties": {
        "Error": {
          "type": "string"
        }
      }
    },
    "getAllMediasResponses": {
      "type": "object",
      "properties": {
        "Errors": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/APIResponseError"
          }
        },
        "mediaGroup": {
          "type": "string"
        },
        "mediaSubGroup": {
          "type": "string"
        },
        "pageNo": {
          "type": "number"
        },
        "TotalPages": {
          "type": "number"
        },
        "Responses": {
          "type": "array",
          "items": {
          "$ref": "#/definitions/getMediaResponse"
          }
        }
      }
    },
    "getOneMediaResponse": {
      "type": "object",
      "properties": {
        "Errors": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/APIResponseError"
          }
        },
        "Response": {
          "$ref": "#/definitions/getMediaResponse"
        }
      }
    }
  }
}