{
"swagger": "2.0",
  "info": {
    "description": "for all following APIs, it should add 2 parameters at API request header before calling API: X_PROXY_SECRET_TOKEN and AUTHORIZATION, all APIs retrieve current accountDID and UserDID from AUTHORIZATION",
    "version": "1.0.0",
    "title": "job Branding API"
  },
  "host": "api.careerbuilder.com",
  "basePath": "/corporate/jobposterapi/JobBranding",
  "tags": [
    {
      "name": "job Branding API",
      "description": "job Branding API"
    }
  ],
  "schemes": [
    "http"
  ],
  "paths": {
    "/JobBranding": {
      "post": {
        "tags": [
          "job Branding API"
        ],
        "summary": "add new job branding",
        "description": "",
        "operationId": "postNewJobBranding",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [         
          {
            "in": "header",
            "name": "Content-Type",
            "default": "application/json",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "description": "post new job branding",
            "required": true,
            "schema": {
              "$ref": "#/definitions/JobBrandingReqNResObj"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/GetOneJobBrandingResponse"
            }
          },
          "400": {
            "description": "Bad Request: job branding name is required"
         },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/JobBranding/{ID}": {      
      "put": {
        "tags": [
          "job Branding API"
        ],
        "summary": "update job branding by ID",
        "description": "",
        "operationId": "updateJobBranding",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [          
          {
            "in": "header",
            "name": "Content-Type",
            "default": "application/json",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "ID", 
            "default": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "description": "update job branding detail",
            "required": true,
            "schema": {
              "$ref": "#/definitions/JobBrandingReqNResObj"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/GetOneJobBrandingResponse"
            }
          },
          "400": {
            "description": "Bad Request: jobBrandingDID is required, name is required"
         },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "delete": {
        "tags": [
          "job Branding API"
        ],
        "summary": "delete job branding by ID",
        "description": "",
        "operationId": "deleteJobBranding",
        "parameters": [          
          {
            "in": "path",
            "name": "ID", 
            "default": "",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/DeleteJobBrandingResponse"
            }
          },
          "400": {
            "description": "Bad Request: Fail to delete job branding"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    }
  },
  "definitions": {
    "DeleteJobBrandingResponse": {
      "type": "object",
      "properties": {
        "Errors": {
          "type": "array",
          "items":
          {
            "type": "string"
          }
        },
        "Results": {
          "type": "array",
          "items":
          {
            "type": "boolean"
          }
        }
      }
    },
    "JobBrandingReqNResObj": {
      "type": "object",
      "required": [
        "Name"
      ],
      "properties": {
        "Name": {
          "type": "string"
        },
        "Type": {
          "type": "string"
        },
        "Status": {
          "type": "string"
        },
        "Tracking": {
          "type": "string"
        },
        "CompanyDescription": {
          "type": "string"
        },
        "Media": {
          "type": "object",
          "properties": {
            "Header": {
              "type": "string"
            },
            "HeaderType": {
              "type": "string"
            },
            "TabletBanner": {
              "type": "string"
            },
            "MobileLogo": {
              "type": "string"
            },
            "Footer": {
              "type": "string"
            },
            "Video": {
              "type": "string"
            },
            "IsMultiVideo": {
              "type": "boolean"
            }
          }
        },
        "Sections": {
          "type": "object",
          "properties": {
            "CompanyInfo": {
              "type": "object",
              "properties": {
                "Section1": {
                  "type": "number"
                },
                "Section2": {
                  "type": "number"
                },
                "Section3": {
                  "type": "number"
                }
              }
            },
            "JobDetails": {
              "type": "object",
              "properties": {
                "Description": {
                  "type": "number"
                },
                "Requirements": {
                  "type": "number"
                },
                "Snapshot": {
                  "type": "number"
                }
              }
            }
          }
        },
        "Styles": {
          "type": "object",
          "properties": {
            "Page": {
              "type": "object",
              "properties": {
                "BackgroundImage": {
                  "type": "string"
                },
                "BackgroundColor": {
                  "type": "string"
                },
                "BackgroundGradient": {
                  "type": "object",
                  "properties":{
                    "Orientation": {
                      "type": "string"
                    }
                  } 
                }
              }
            },
            "JobDetails": {
              "type": "object",
              "properties": {
                "Container":{
                  "type": "object",
                  "properties": {
                    "BorderColor": {
                      "type": "string"
                    },
                    "BorderRadius": {
                      "type": "number"
                    },
                    "BorderSize": {
                      "type": "number"
                    }
                  }
                },
                "Content":{
                  "type": "object",
                  "properties": {
                    "FontColor": {
                      "type": "string"
                    },
                    "FontSize": {
                      "type": "number"
                    },
                    "FontStyle": {
                      "type": "string"
                    }
                  }
                },
                "Headings":{
                  "type": "object",
                  "properties": {
                    "FontColor": {
                      "type": "string"
                    },
                    "FontSize": {
                      "type": "number"
                    },
                    "FontStyle": {
                      "type": "string"
                    }
                  }
                }
                ,
                "Title":{
                  "type": "object",
                  "properties": {
                    "BorderColor": {
                      "type": "string"
                    },
                    "BorderRadius": {
                      "type": "number"
                    },
                    "BorderSize": {
                      "type": "number"
                    }
                  }
                }
              }
            },
            "CompanyInfo": {
              "type": "object",
              "properties": {
                "CompanyOverview":{
                  "type": "object",
                  "properties": {
                    "OverviewHeader":{
                      "type": "object",
                      "properties":{
                        "FontColor": {
                          "type": "string"
                        },
                        "BackgroundColor": {
                          "type": "string"
                        },
                        "BottomLineColor": {
                          "type": "string"
                        },
                        "FontStyle": {
                          "type": "string"
                        }                        
                      }
                    },
                    "OverviewBackground":{
                      "type": "object",
                      "properties":{
                        "BackgroundImage": {
                          "type": "string"
                        },
                        "BackgroundColor": {
                          "type": "string"
                        }                     
                      }
                    }
                  }
                },
                "Buttons":{
                  "type": "object",
                  "properties":{
                    "BackgroundColor": {
                      "type": "string"
                    },
                    "BorderColor": {
                      "type": "string"
                    },
                    "BorderSize": {
                      "type": "number"
                    },
                    "FontColor": {
                      "type": "string"
                    },
                    "FontStyle": {
                      "type": "string"
                    }    
                  }
                },
                "Container":{
                  "type": "object",
                  "properties": {
                    "BackgroundColor": {
                      "type": "string"
                    },
                    "BackgroundGradient": {
                      "type": "object",
                      "properties":{
                        "Orientation": {
                          "type": "string"
                        }
                      } 
                    },
                    "BorderColor": {
                      "type": "string"
                    },
                    "BorderRadius": {
                      "type": "number"
                    },
                    "BorderSize": {
                      "type": "number"
                    }    
                  }
                },
                "Content":{
                  "type": "object",
                  "properties":{
                    "FontColor": {
                      "type": "string"
                    },
                    "FontSize": {
                      "type": "number"
                    },
                    "FontStyle": {
                      "type": "string"
                    }    
                  }
                },
                "Headings":{
                 "type": "object",
                 "properties": {
                    "FontColor": {
                      "type": "string"
                    },
                    "FontSize": {
                      "type": "number"
                    },
                    "FontStyle": {
                      "type": "string"
                    }    
                  } 
                }
              }
            }
          }
        },
        "Widgets" :{
          "type": "object",
          "properties": {
            "Facebook": {
              "type": "string"
            },
            "Glassdoor": {
              "type": "string"
            },
            "LinkedIn": {
              "type": "string"
            },
            "Twitter": {
              "type": "string"
            },
            "ShowWidgets": {
              "type": "boolean"
            }  
          }
        }
      }      
    },   
    "GetOneJobBrandingResponse": {
      "type": "object",
      "properties": {
        "Errors": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "Results": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/JobBrandingReqNResObj"
          }
        }
      }
    }
  }
}