{
  "swagger": "2.0",
    "info": {
      "description": "for all following APIs, it should add 2 parameters at API request header before calling API: X_PROXY_SECRET_TOKEN and AUTHORIZATION, all APIs retrieve current accountDID and UserDID from AUTHORIZATION",
      "version": "1.0.0",
      "title": "media API"
    },
    "host": "api.careerbuilder.com",
    "basePath": "/corporate/jobposterapi/media",
    "tags": [
      {
        "name": "media API",
        "description": "media API"
      }
    ],
    "schemes": [
      "http"
    ],
    "paths": {
      "/media": {
        "post": {
          "tags": [
            "media API"
          ],
          "summary": "add new media",
          "description": "",
          "operationId": "postNewMedia",
          "consumes": [
            "application/json"
          ],
          "produces": [
            "application/json"
          ],
          "parameters": [         
            {
              "in": "header",
              "name": "Content-Type",
              "default": "application/json",
              "required": true,
              "type": "string"
            },
            {
              "in": "body",
              "name": "body",
              "description": "add new media detail",
              "required": true,
              "schema": {
                "$ref": "#/definitions/MediaPostRequest"
              }
            }
          ],
          "responses": {
            "201": {
              "description": "successful operation",
              "schema": {
                "$ref": "#/definitions/UpdateMediaAPIResponse"
              }
            },
            "400": {
              "description": "Bad Request: MediaName is required"
           },
            "404": {
              "description": "Not Found"
            },
            "500": {
              "description": "Internal Server Error"
            }
          }
        },
        "get": {
          "tags": [
            "media API"
          ],
          "summary": "get media by group",
          "description": "",
          "operationId": "GetAllmedia",
          "parameters": [
            {
              "in": "header",
              "name": "Content-Type",
              "default": "application/json",
              "required": true,
              "type": "string"
            },
            {
              "in": "body",
              "name": "body",
              "description": "criteria for loading media",
              "required": true,
              "schema": {
                "$ref": "#/definitions/MediaLoadCritRequest"
              }
            }
          ],
          "produces": [
            "application/json"
          ],
          "responses": {
            "200": {
              "description": "successful operation",
              "schema": {
                "$ref": "#/definitions/GetMediaAPIResponse"
              }
            },
            "400": {
              "description": "Bad Request: MediaGroup is required"
            },
            "404": {
              "description": "Not Found"
            },
            "500": {
              "description": "Internal Server Error"
            }
          }
        }
      },   
      "/media/{id}": {
        "get": {
          "tags": [
            "media API"
          ],
          "summary": "get media by id",
          "description": "",
          "operationId": "GetMedia",
          "parameters": [          
            {
              "in": "path",
              "name": "id", 
              "default": "",
              "required": true,
              "type": "string"
            }
          ],
          "produces": [
            "application/json"
          ],
          "responses": {
            "200": {
              "description": "successful operation",
              "schema": {
                "$ref": "#/definitions/GetMediaAPIResponse"
              }
            },
            "404": {
              "description": "Not Found"
            },
            "500": {
              "description": "Internal Server Error"
            }
          }
        },
        "put": {
          "tags": [
            "media API"
          ],
          "summary": "update media by id",
          "description": "",
          "operationId": "updateMedia",
          "consumes": [
            "application/json"
          ],
          "produces": [
            "application/json"
          ],
          "parameters": [          
            {
              "in": "header",
              "name": "Content-Type",
              "default": "application/json",
              "required": true,
              "type": "string"
            },
            {
              "in": "path",
              "name": "id", 
              "default": "",
              "required": true,
              "type": "string"
            },
            {
              "in": "body",
              "name": "body",
              "description": "update media detail",
              "required": true,
              "schema": {
                "$ref": "#/definitions/MediaPostRequest"
              }
            }
          ],
          "responses": {
            "204": {
              "description": "successful operation"
            },
            "400": {
              "description": "Bad Request: MediaGroup is required"
            },
            "404": {
              "description": "Not Found"
            },
            "500": {
              "description": "Internal Server Error"
            }
          }
        },
        "delete": {
          "tags": [
            "media API"
          ],
          "summary": "delete media by id",
          "description": "",
          "operationId": "deleteMedia",
          "parameters": [          
            {
              "in": "path",
              "name": "id", 
              "default": "",
              "required": true,
              "type": "string"
            }
          ],
          "produces": [
            "application/json"
          ],
          "responses": {
            "200": {
              "description": "successful operation",
              "schema": {
                "$ref": "#/definitions/DeleteMediaResponse"
              }
            },
            "404": {
              "description": "Not Found"
            },
            "500": {
              "description": "Internal Server Error"
            }
          }
        }
      }
    },
    "definitions": {   
      "MediaLoadCritRequest":{
        "type": "object",      
        "properties": {
          "MediaGroup": {
            "type": "string",
            "example":"BrandBuilder"
          },
          "MediaSubGroup": {
            "type": "string",
            "example":"Brandbuilder Header"
          }
        } 
      },      
      "MediaPostRequest": {
        "type": "object",
        "required": [
          "MediaGroup",
          "MediaSubGroup",
          "MediaName"
        ],
        "properties": {
          "MediaGroup": {
            "type": "string",
            "example":"BrandBuilder"
          },
          "MediaSubGroup": {
            "type": "string",
            "example":"Brandbuilder Header"
          },
          "MediaName": {
            "type": "string",
            "example":"Header.jpg"
          },
          "FileBytes": {
            "type": "string",
            "example":"0x47494638396102037200F70000AD9A899CBDCECA8757B9CCDAE9D9"
          },
          "ExternalUrl": {
            "type": "string",
            "example":""
          }
        }      
      },
      "GetMediaResponse": {
        "type": "object",
        "properties": {
          "Id": {
            "type": "string",
            "example":"IM221Q5XM1W9TXWFMNN"
          },         
          "MediaName": {
            "type": "string",
            "example":"IM221Q5XM1W9TXWFMNN"
          },
          "MediaPath": {
            "type": "string",
            "example":"/MediaManagement/TD/IM221Q5XM1W9TXWFMNN.gif"
          },
          "ExternalUrl": {
            "type": "string",
            "example":""
          },
          "MediaWidth": {
            "type": "integer"
          },
          "MediaHeight": {
            "type": "integer"
          },
          "MediaFileSize": {
            "type": "integer"
          },
          "MediaType": {
            "type": "string",
            "example":".gif"
          },        
          "MediaTotalUsage": {
            "type": "integer"
          }
        }
      },
      "MediaUpdateResponse": {
        "type": "object",
        "properties": {
          "Id": {
            "type": "string",
            "example":"IM221Q5XM1W9TXWFMNN"
          }
        }
      },
      "GetMediaAPIResponse": {
        "type": "object",
        "properties": {
          "Errors": {
            "type": "array",
            "items": {
              "type": "string",
              "example": ""
            }
          },
          "Results": {
            "type": "array",
            "items": {
            "$ref": "#/definitions/GetMediaResponse"
            }
          }
        }
      },
      "UpdateMediaAPIResponse": {
        "type": "object",
        "properties": {
          "Errors": {
            "type": "array",
            "items": {
              "type": "string",
              "example": ""
            }
          },
          "Results": {
            "type": "array",
            "items": {
            "$ref": "#/definitions/MediaUpdateResponse"
            }
          }
        }
      },
      "DeleteMediaResponse": {
        "type": "object",
        "properties": {
          "Errors": {
            "type": "array",
            "items":
            {
              "type": "string",
              "example": ""
            }
          },
          "Results": {
            "type": "array",
            "items":
            {
              "type": "boolean"
            }
          }
        }
      }
    }
  }