{
  "swagger": "2.0",
    "info": {
      "description": "for all following APIs, it should add 2 parameters at API request header before calling API: X_PROXY_SECRET_TOKEN and AUTHORIZATION, all APIs retrieve current accountDID and UserDID from AUTHORIZATION",
      "version": "1.0.0",
      "title": "media API"
    },
    "host": "api.careerbuilder.com",
    "basePath": "/corporate/jobposterapi/media",
    "tags": [
      {
        "name": "media API",
        "description": "media API"
      }
    ],
    "schemes": [
      "http"
    ],
    "paths": {
      "/media": {
        "post": {
          "tags": [
            "media API"
          ],
          "summary": "add new media",
          "description": "",
          "operationId": "postNewMedia",
          "consumes": [
            "application/json"
          ],
          "produces": [
            "application/json"
          ],
          "parameters": [         
            {
              "in": "header",
              "name": "Content-Type",
              "default": "application/json",
              "required": true,
              "type": "string"
            },
            {
              "in": "body",
              "name": "body",
              "description": "update media detail",
              "required": true,
              "schema": {
                "$ref": "#/definitions/mediaPostRequest"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "successful operation",
              "schema": {
                "$ref": "#/definitions/mediaPostResponse"
              }
            },
            "400": {
              "description": "Bad Request: SubGroupDID is required, mediaName is required"
           },
            "404": {
              "description": "Not Found"
            },
            "500": {
              "description": "Internal Server Error"
            }
          }
        },
        "get": {
          "tags": [
            "media API"
          ],
          "summary": "get medias by group",
          "description": "",
          "operationId": "GetAllMedias",
          "parameters": [
            {
              "in": "header",
              "name": "Content-Type",
              "default": "application/json",
              "required": true,
              "type": "string"
            },
            {
              "in": "body",
              "name": "body",
              "description": "criteria for loading media",
              "required": true,
              "schema": {
                "$ref": "#/definitions/mediaLoadCritRequest"
              }
            }
          ],
          "produces": [
            "application/json"
          ],
          "responses": {
            "200": {
              "description": "successful operation",
              "schema": {
                "$ref": "#/definitions/getAllMediasResponses"
              }
            },
            "400": {
              "description": "Bad Request: Fail to get media data"
            },
            "404": {
              "description": "Not Found"
            },
            "500": {
              "description": "Internal Server Error"
            }
          }
        }
      },   
      "/media/{ID}": {
        "get": {
          "tags": [
            "media API"
          ],
          "summary": "get media by mediaDID",
          "description": "",
          "operationId": "GetMedia",
          "parameters": [          
            {
              "in": "path",
              "name": "ID", 
              "default": "",
              "required": true,
              "type": "string"
            }
          ],
          "produces": [
            "application/json"
          ],
          "responses": {
            "200": {
              "description": "successful operation",
              "schema": {
                "$ref": "#/definitions/getOneMediaResponse"
              }
            },
            "400": {
              "description": "Bad Request: Fail to get media data"
            },
            "404": {
              "description": "Not Found"
            },
            "500": {
              "description": "Internal Server Error"
            }
          }
        },
        "put": {
          "tags": [
            "media API"
          ],
          "summary": "update media by mediaDID",
          "description": "",
          "operationId": "updateMedia",
          "consumes": [
            "application/json"
          ],
          "produces": [
            "application/json"
          ],
          "parameters": [          
            {
              "in": "header",
              "name": "Content-Type",
              "default": "application/json",
              "required": true,
              "type": "string"
            },
            {
              "in": "path",
              "name": "ID", 
              "default": "",
              "required": true,
              "type": "string"
            },
            {
              "in": "body",
              "name": "body",
              "description": "update media detail",
              "required": true,
              "schema": {
                "$ref": "#/definitions/mediaUpdateRequest"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "successful operation",
              "schema": {
                "$ref": "#/definitions/getOneMediaResponse"
              }
            },
            "400": {
              "description": "Bad Request: mediaDID is required, SubGroupDID is required, mediaName is required"
           },
            "404": {
              "description": "Not Found"
            },
            "500": {
              "description": "Internal Server Error"
            }
          }
        },
        "delete": {
          "tags": [
            "media API"
          ],
          "summary": "delete media by mediaDID",
          "description": "",
          "operationId": "deleteMedia",
          "parameters": [          
            {
              "in": "path",
              "name": "ID", 
              "default": "",
              "required": true,
              "type": "string"
            }
          ],
          "produces": [
            "application/json"
          ],
          "responses": {
            "200": {
              "description": "successful operation",
              "schema": {
                "$ref": "#/definitions/deleteMediaResponse"
              }
            },
            "400": {
              "description": "Bad Request: Fail to get media data"
            },
            "404": {
              "description": "Not Found"
            },
            "500": {
              "description": "Internal Server Error"
            }
          }
        }
      }
    },
    "definitions": {   
      "mediaLoadCritRequest":{
        "type": "object",      
        "properties": {
          "mediaGroup": {
            "type": "string"
          },
          "mediaSubGroup": {
            "type": "string"
          },
          "pageNo": {
            "type": "number"
          },
          "pageSize": {
            "type": "number"
          },
          "sortBy": {
            "type": "string"
          }      
        } 
      },
      "mediaUpdateRequest": {
        "type": "object",
        "required": [
          "mediaGroup",
          "mediaSubGroup"
        ],
        "properties": {        
          "mediaGroup": {
            "type": "string"
          },
          "mediaSubGroup": {
            "type": "string"
          },
          "mediaName": {
            "type": "string"
          },
          "mediaType": {
            "type": "string"
          },
          "fileBytes": {
            "type": "string"
          },
          "externalURL": {
            "type": "string"
          }
        }      
      },
      "mediaPostRequest": {
        "type": "object",
        "required": [
          "mediaGroup",
          "mediaSubGroup",
          "mediaName"
        ],
        "properties": {
          "mediaGroup": {
            "type": "string"
          },
          "mediaSubGroup": {
            "type": "string"
          },
          "mediaName": {
            "type": "string"
          },
           "mediaType": {
            "type": "string"
          },
          "fileBytes": {
            "type": "string"
          },
          "externalURL": {
            "type": "string"
          }
        }      
      },
      "getMediaResponse": {
        "type": "object",
        "properties": {
          "mediaDID": {
            "type": "string"
          },
          "mediaGroup": {
            "type": "string"
          },
          "mediaSubGroup": {
            "type": "string"
          },
          "mediaName": {
            "type": "string"
          },
          "mediaPath": {
            "type": "string"
          },
          "mediaContent": {
            "type": "string"
          },
          "externalURL": {
            "type": "string"
          },
          "mediaWidth": {
            "type": "integer"
          },
          "mediaHeight": {
            "type": "integer"
          },
          "mediaFileSize": {
            "type": "integer"
          },
          "mediaType": {
            "type": "string"
          },        
          "mediaTotalUsage": {
            "type": "integer"
          }
        }
      },
      "mediaPostResponse":{
        "type": "object",
        "properties": {
          "Errors": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "Results": {
            "type": "array",
            "items": {
              "$ref": "#/definitions/getMediaResponse"
            }
          }
        }      
      },
      "getAllMediasResponses": {
        "type": "object",
        "properties": {
          "Errors": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },        
          "Results": {
            "type": "array",
            "items": {
            "$ref": "#/definitions/getMediaResponse"
            }
          }
        }
      },
      "getOneMediaResponse": {
        "type": "object",
        "properties": {
          "Errors": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "Results": {
            "type": "array",
            "items": {
            "$ref": "#/definitions/getMediaResponse"
            }
          }
        }
      },
      "deleteMediaResponse": {
        "type": "object",
        "properties": {
          "Errors": {
            "type": "array",
            "items":
            {
              "type": "string"
            }
          },
          "Results": {
            "type": "array",
            "items":
            {
              "type": "boolean"
            }
          }
        }
      }
    }
  }