{
  "swagger": "2.0",
    "info": {
      "description": "for all following APIs, it should add 2 parameters at API request header before calling API: X_PROXY_SECRET_TOKEN and AUTHORIZATION, all APIs retrieve current accountDID and UserDID from AUTHORIZATION",
      "version": "1.0.0",
      "title": "Media API"
    },
    "host": "api.careerbuilder.com",
    "basePath": "/corporate/jobposterapi/media",
    "tags": [
      {
        "name": "Media API",
        "description": "Media API"
      }
    ],
    "schemes": [
      "http"
    ],
    "paths": {
      "/media": {
        "post": {
          "tags": [
            "Media API"
          ],
          "summary": "add new media",
          "description": "",
          "operationId": "postNewMedia",
          "consumes": [
            "multipart/form-data"
          ],
          "produces": [
            "application/json"
          ],
          "parameters": [           
            {              
              "in": "formData",
              "name": "MediaGroup",
              "required": true,
              "type": "string"
            },
            {              
              "in": "formData",
              "name": "MediaSubGroup",
              "required": true,
              "type": "string"
            },
            {              
              "in": "formData",
              "name": "MediaFile",
              "description": "file to upload",
              "required": false,
              "type": "file"
            },
            {              
              "in": "formData",
              "name": "ExternalURL",
              "required": false,
              "type": "string"
            }
          ],
          "responses": {
            "200": {
              "description": "successful operation",
              "schema": {
                "$ref": "#/definitions/GetMediaAPIResponse"
              }
            },
            "400": {
              "description": "Bad Request: SubGroupDID is required, mediaName is required"
           },
            "404": {
              "description": "Not Found"
            },
            "500": {
              "description": "Internal Server Error"
            }
          }
        },
        "get": {
          "tags": [
            "Media API"
          ],
          "summary": "get medias by group",
          "description": "",
          "operationId": "GetAllMedias",
          "parameters": [
            {
              "in": "header",
              "name": "Content-Type",
              "default": "application/json",
              "required": true,
              "type": "string"
            },
            {
              "in": "body",
              "name": "body",
              "description": "criteria for loading media",
              "required": true,
              "schema": {
                "$ref": "#/definitions/MediaLoadCritRequest"
              }
            }
          ],
          "produces": [
            "application/json"
          ],
          "responses": {
            "200": {
              "description": "successful operation",
              "schema": {
                "$ref": "#/definitions/GetMediaAPIResponse"
              }
            },
            "400": {
              "description": "Bad Request: Fail to get media data"
            },
            "404": {
              "description": "Not Found"
            },
            "500": {
              "description": "Internal Server Error"
            }
          }
        }
      },   
      "/media/{DID}": {
        "get": {
          "tags": [
            "Media API"
          ],
          "summary": "get media by DID",
          "description": "",
          "operationId": "GetMedia",
          "parameters": [          
            {
              "in": "path",
              "name": "DID", 
              "default": "",
              "required": true,
              "type": "string"
            }
          ],
          "produces": [
            "application/json"
          ],
          "responses": {
            "200": {
              "description": "successful operation",
              "schema": {
                "$ref": "#/definitions/GetMediaAPIResponse"
              }
            },
            "400": {
              "description": "Bad Request: Fail to get media data"
            },
            "404": {
              "description": "Not Found"
            },
            "500": {
              "description": "Internal Server Error"
            }
          }
        },
        "put": {
          "tags": [
            "Media API"
          ],
          "summary": "update media by DID",
          "description": "",
          "operationId": "updateMedia",
          "consumes": [
            "multipart/form-data"
          ],
          "produces": [
            "application/json"
          ],
          "parameters": [  
            {
              "in": "path",
              "name": "DID", 
              "default": "",
              "required": true,
              "type": "string"
            },         
            {              
              "in": "formData",
              "name": "MediaGroup",
              "required": true,
              "type": "string"
            },
            {              
              "in": "formData",
              "name": "MediaSubGroup",
              "required": true,
              "type": "string"
            },
            {              
              "in": "formData",
              "name": "MediaFile",
              "description": "file to upload",
              "required": false,
              "type": "file"
            },
            {              
              "in": "formData",
              "name": "ExternalURL",
              "required": false,
              "type": "string"
            }
          ],
          "responses": {
            "200": {
              "description": "successful operation",
              "schema": {
                "$ref": "#/definitions/GetMediaAPIResponse"
              }
            },
            "400": {
              "description": "Bad Request: DID is required, SubGroupDID is required, MediaName is required"
           },
            "404": {
              "description": "Not Found"
            },
            "500": {
              "description": "Internal Server Error"
            }
          }
        },
        "delete": {
          "tags": [
            "Media API"
          ],
          "summary": "delete media by DID",
          "description": "",
          "operationId": "deleteMedia",
          "parameters": [          
            {
              "in": "path",
              "name": "DID", 
              "default": "",
              "required": true,
              "type": "string"
            }
          ],
          "produces": [
            "application/json"
          ],
          "responses": {
            "200": {
              "description": "successful operation",
              "schema": {
                "$ref": "#/definitions/DeleteMediaResponse"
              }
            },
            "400": {
              "description": "Bad Request: Fail to delete media"
            },
            "404": {
              "description": "Not Found"
            },
            "500": {
              "description": "Internal Server Error"
            }
          }
        }
      }
    },
    "definitions": {   
      "MediaLoadCritRequest":{
        "type": "object",      
        "properties": {
          "MediaGroup": {
            "type": "string"
          },
          "MediaSubGroup": {
            "type": "string"
          }
        } 
      },
      "GetMediaResponse": {
        "type": "object",
        "properties": {
          "DID": {
            "type": "string"
          },
          "MediaGroup": {
            "type": "string"
          },
          "MediaSubGroup": {
            "type": "string"
          },
          "MediaName": {
            "type": "string"
          },
          "MediaPath": {
            "type": "string"
          },
          "MediaContent": {
            "type": "string"
          },
          "ExternalURL": {
            "type": "string"
          },
          "MediaWidth": {
            "type": "integer"
          },
          "MediaHeight": {
            "type": "integer"
          },
          "MediaFileSize": {
            "type": "integer"
          },
          "MediaType": {
            "type": "string"
          },        
          "MediaTotalUsage": {
            "type": "integer"
          }
        }
      },
      "GetMediaAPIResponse": {
        "type": "object",
        "properties": {
          "Errors": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "Results": {
            "type": "array",
            "items": {
            "$ref": "#/definitions/GetMediaResponse"
            }
          }
        }
      },
      "DeleteMediaResponse": {
        "type": "object",
        "properties": {
          "Errors": {
            "type": "array",
            "items":
            {
              "type": "string"
            }
          },
          "Results": {
            "type": "array",
            "items":
            {
              "type": "boolean"
            }
          }
        }
      }
    }
  }