{
"swagger": "2.0",
  "info": {
    "description": "media API description",
    "version": "1.0.0",
    "title": "media API"
  },
  "host": "api.careerbuilder.com",
  "basePath": "/corporate/jobposterapi/media",
  "tags": [
    {
      "name": "media API",
      "description": "media API"
    }
  ],
  "schemes": [
    "http"
  ],
  "paths": {
    "/media": {
      "post": {
        "tags": [
          "media API"
        ],
        "summary": "add new media",
        "description": "",
        "operationId": "postNewMedia",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "X_PROXY_SECRET_TOKEN",
            "default": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "header",
            "name": "AUTHORIZATION",
            "default": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "header",
            "name": "Content-Type",
            "default": "application/json",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "description": "update media detail",
            "required": true,
            "schema": {
              "$ref": "#/definitions/mediaPostRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/mediaPostResponse"
            }
          },
          "400": {
            "description": "Bad Request: SubGroupDID is required, mediaName is required"
         },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/media/getall": {
      "get": {
        "tags": [
          "media API"
        ],
        "summary": "Get all medias by accountDID",
        "description": "",
        "operationId": "GetAllMedias",
        "parameters": [
          {
            "in": "header",
            "name": "X_PROXY_SECRET_TOKEN",
            "default": "",
            "required": true,
            "type": "string" 
          },
          {
            "in": "header",
            "name": "AUTHORIZATION", 
            "default": "",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/getAllMediasResponses"
            }
          },
          "400": {
            "description": "Bad Request: Fail to get media data"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },   
    "/media/{mediaDID}": {
      "get": {
        "tags": [
          "media API"
        ],
        "summary": "Get media by accountDID and mediaDID",
        "description": "",
        "operationId": "GetOneMedia",
        "parameters": [
          {
            "in": "header",
            "name": "X_PROXY_SECRET_TOKEN",
            "default": "",
            "required": true,
            "type": "string" 
          },
          {
            "in": "header",
            "name": "AUTHORIZATION", 
            "default": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "mediaDID", 
            "default": "",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/getOneMediaResponse"
            }
          },
          "400": {
            "description": "Bad Request: Fail to get media data"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "put": {
        "tags": [
          "media API"
        ],
        "summary": "update media",
        "description": "",
        "operationId": "updateMedia",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "X_PROXY_SECRET_TOKEN",
            "default": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "header",
            "name": "AUTHORIZATION",
            "default": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "header",
            "name": "Content-Type",
            "default": "application/json",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "mediaDID", 
            "default": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "description": "update media detail",
            "required": true,
            "schema": {
              "$ref": "#/definitions/mediaUpdateRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/mediaPostResponse"
            }
          },
          "400": {
            "description": "Bad Request: mediaDID is required, SubGroupDID is required, mediaName is required"
         },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "delete": {
        "tags": [
          "media API"
        ],
        "summary": "delete media by accountDID and mediaDID",
        "description": "",
        "operationId": "deleteOneMedia",
        "parameters": [
          {
            "in": "header",
            "name": "X_PROXY_SECRET_TOKEN",
            "default": "",
            "required": true,
            "type": "string" 
          },
          {
            "in": "header",
            "name": "AUTHORIZATION", 
            "default": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "mediaDID", 
            "default": "",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "successful operation"
          },
          "400": {
            "description": "Bad Request: Fail to get media data"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    }
  },
  "definitions": {
    "mediaUpdateRequest": {
      "type": "object",
      "required": [
        "mediaGroup",
        "mediaSubGroup"
      ],
      "properties": {        
        "mediaGroup": {
          "type": "string"
        },
        "mediaSubGroup": {
          "type": "string"
        },
        "mediaName": {
          "type": "string"
        },
        "mediaType": {
          "type": "string"
        },
        "fileBytes": {
          "type": "string"
        },
        "externalURL": {
          "type": "string"
        }
      }      
    },
    "mediaPostRequest": {
      "type": "object",
      "required": [
        "mediaGroup",
        "mediaSubGroup",
        "mediaName"
      ],
      "properties": {
        "mediaGroup": {
          "type": "string"
        },
        "mediaSubGroup": {
          "type": "string"
        },
        "mediaName": {
          "type": "string"
        },
         "mediaType": {
          "type": "string"
        },
        "fileBytes": {
          "type": "string"
        },
        "externalURL": {
          "type": "string"
        }
      }      
    },
    "getMediaResponse": {
      "type": "object",
      "properties": {
        "mediaDID": {
          "type": "string"
        },
        "mediaGroup": {
          "type": "string"
        },
        "mediaSubGroup": {
          "type": "string"
        },
        "mediaName": {
          "type": "string"
        },
        "mediaPath": {
          "type": "string"
        },
        "mediaContent": {
          "type": "string"
        },
        "externalURL": {
          "type": "string"
        },
        "mediaWidth": {
          "type": "integer"
        },
        "mediaHeight": {
          "type": "integer"
        },
        "mediaFileSize": {
          "type": "integer"
        },
        "mediaType": {
          "type": "string"
        },        
        "mediaTotalUsage": {
          "type": "integer"
        }
      }
    },
    "mediaPostResponse":{
      "type": "object",
      "properties": {
        "Errors": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/APIResponseError"
          }
        },
        "Response": {
          "type": "object",
          "properties": {
            "mediaDID": {
              "type": "string"
            }
          }
        }
      }      
    },
    "APIResponseError": {
      "type": "object",
      "properties": {
        "Error": {
          "type": "string"
        }
      }
    },
    "getAllMediasResponses": {
      "type": "object",
      "properties": {
        "Errors": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/APIResponseError"
          }
        },
        "Responses": {
          "type": "array",
          "items": {
          "$ref": "#/definitions/getMediaResponse"
          }
        }
      }
    },
    "getOneMediaResponse": {
      "type": "object",
      "properties": {
        "Errors": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/APIResponseError"
          }
        },
        "Response": {
          "$ref": "#/definitions/getMediaResponse"
        }
      }
    }
  }
}